<a href="https://colab.research.google.com/github/KirillSmirnov2/InnopolisStudentPublicRepository/blob/main/%22HW1v2_SmirnovKK_ipynb%22.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Домашнее задание
Выполнить одно из заданий. Результат должен быть представлен в
виде датафрейма. Все индексы (названия столбцов и строк)
должны быть заданы явно. В работе обязательно использовать
циклы. После составления датафрейма применить к нему
команду .loc для вывода на экран полученных данных (выбор
данных – произвольный).

1 Составить код для заполнения таблицы умножения.

## ***---------------------------------------------------***
Введите тип таблицы умножения:

1 - простой: далее запросятся значения целых чисел в строках и столбцах, до которых будет составляться таблица (например, если в строке значение 4 - то :0,1,2,3,4; если в столбце значение "-3"- то: 0,-1,-2,-3);

2 - сложный: введите списки значений столбцов и строк таблицы (например: в строках / 2 4  8  7  4 / ; в столбцах / 2.12  25  12  42.11 /)
# ---------------------------------------------------

In [ ]:
# @title Далее функция для создания таблицы умножения [def tablicka] которая формирует данные таблицы в зависимости от типа таблицы
def tablicka(hw1_tab_type, ERR_FL, Tab2D, Cols, Rows):
  if ERR_FL=='':
    ERR_FL=0
  if hw1_tab_type == '1':
    hw1_option_1_note1= 'Введите число в шапке таблицы умножения до которой строить простую таблиц(Columns):  '
    hw1_option_1_note2= 'Введите число в строках таблицы умножения до которой строить простую таблицу(Rows):  '
    hw1_col= int(input(hw1_option_1_note1))
    print('Задано значение в столбцах до(Columns):', hw1_col)
    hw1_row= int(input(hw1_option_1_note2))
    print('Задано значение в строках до(Rows):', hw1_row)
    if hw1_col*hw1_row == 0:
      ERR_FL=1
      print('Неверно заданы параметры простой таблицы, введен 0')
    if ERR_FL==0:
      hw1_col_step=int(hw1_col/abs(hw1_col))
      #print(hw1_col_step)
      hw1_row_step=int(hw1_row/abs(hw1_row))
      #print(hw1_row_step)
      #---------------------
      for j in range(0, hw1_row, hw1_row_step):
        Rows.append(j+hw1_row_step)
        if j ==0:
          for i in range(0, hw1_col, hw1_col_step):
            Cols.append(i+hw1_col_step)
      #---------------------
      Tab2D=[]
      for i in Rows:
        Tab1D=[]
        for j in Cols:
          Tab1D.append(i*j)
        Tab2D.append(Tab1D)


      #tablo = [Cols , Rows]
  if hw1_tab_type == '2':
    hw1_option_2_note1= 'Введите ряд чисел через пробел ' ' в шапке таблицы умножения (Columns):  '
    hw1_option_2_note2= 'Введите ряд чисел через пробел ' ' в строках таблицы умножения (Rows):  '
    hw1_col= input(hw1_option_2_note1)
    hw1_col_list=hw1_col.split()
    print('Задано значение в столбцах до(Columns):', hw1_col_list)
    hw1_row= input(hw1_option_2_note2)
    hw1_row_list=hw1_row.split()
    print('Задано значение в строках до(Rows):', hw1_row_list)

#    for i in hw1_col_list:
#    for j in range(len(hw1_row_list)):
#      if not hw1_row_list[j-1].isdigit():
#        ERR_FL=1
#    print('ERR_FL', ERR_FL)
#    if ERR_FL==0:
    for i in hw1_col_list:
      Cols.append(float(i))
    for j in hw1_row_list:
      Rows.append(float(j))
    Tab2D=[]
    for i in Rows:
      Tab1D=[]
      for j in Cols:
        Tab1D.append(i*j)
      Tab2D.append(Tab1D)
  return Tab2D

In [ ]:
# @title Далее функция [pandatablicka] которая делает pd.DataFrame с таблицей умножения выбранного типа
def pandatablicka(Cols, Rows, Tab2D):
  print('Cols',Cols)
  print('Rows',Rows)
  print('Tab',Tab2D)
  print('----------------------------------')
  Tablicka_init=pd.DataFrame() #columns=Cols
  #print(Tablicka_init)
  #print(Tab2D[row-1][col-1])
  #print(Tab2D[6][2])
  Ser2=[]
  #for i in Cols  :
  for j in range(len(Rows)):
    Ser=[Rows[j]]
    #for j in Rows:
    for i in range(len(Cols))  :
      Ser.append(Tab2D[j][i])

    Ser2.append(Ser)
    insert_row = Ser
    #print(Ser)
    #print('=-=-=-=-=-=-=-=-=-=',j,'=-=-=-=-=-=-=-=-=-=')
    Tablicka_init = pd.concat([Tablicka_init, pd.DataFrame([insert_row])])

  print('--PandasDataFrameFormat-----')
  #print(Ser2)
  #print('----------------------------------')

  Title=['row\col']
  for i in Cols:
    Title.append(i)
  Tablicka_init.columns = Title
  Tablicka_init.index = Rows
  return Tablicka_init

In [ ]:
# @title Далее основной код программы с запросом типа таблицы , данных/параметров для формирования таблицы и код с запуском процесса расчета таблицы и создания dp.dataframe
import pandas as pd
hw1_task_step=0
ERR_FL=0
text_1='Тип таблицы выбран: 1 - простой: далее запросятся значения целых чисел в строках и столбцах, до которых будет составляться таблица (например, если в строке значение 4 - то :0,1,2,3,4; если в столбце значение "-3"- то: 0,-1,-2,-3);'
text_2='Тип таблицы выбран: 2 - сложный: введите списки значений столбцов и строк таблицы (например: в строках / 2 4  8  7  4 / ; в столбцах / 2.12  25  12  42.11 /)'
ERR_FL=0
hw1_options ={'1': text_1,'2':text_2}
hw1_tab_type=input('Введите тип таблицы умножения( 1 - простой / 2 - сложный ): ')
if (hw1_tab_type == '1') or  (hw1_tab_type == '2'):
  if (hw1_tab_type == '1'): print(text_1)
  elif (hw1_tab_type == '2'): print(text_2)
else:
  ERR_FL=1
  print('Не задан тип таблицы')
hw1_task_step=1
Cols=[]
Rows=[]
Tab2D=[]
Tab2D=tablicka(hw1_tab_type, ERR_FL, Tab2D, Cols, Rows)

if ERR_FL==0:
  Tab2D_in_pandas=pandatablicka(Cols,Rows,Tab2D)
  print(Tab2D_in_pandas)
#   print()

Введите тип таблицы умножения( 1 - простой / 2 - сложный ): 1
Тип таблицы выбран: 1 - простой: далее запросятся значения целых чисел в строках и столбцах, до которых будет составляться таблица (например, если в строке значение 4 - то :0,1,2,3,4; если в столбце значение "-3"- то: 0,-1,-2,-3);
Введите число в шапке таблицы умножения до которой строить простую таблиц(Columns):  10
Задано значение в столбцах до(Columns): 10
Введите число в строках таблицы умножения до которой строить простую таблицу(Rows):  12
Задано значение в строках до(Rows): 12
Cols [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
Rows [1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12]
Tab [[1, 2, 3, 4, 5, 6, 7, 8, 9, 10], [2, 4, 6, 8, 10, 12, 14, 16, 18, 20], [3, 6, 9, 12, 15, 18, 21, 24, 27, 30], [4, 8, 12, 16, 20, 24, 28, 32, 36, 40], [5, 10, 15, 20, 25, 30, 35, 40, 45, 50], [6, 12, 18, 24, 30, 36, 42, 48, 54, 60], [7, 14, 21, 28, 35, 42, 49, 56, 63, 70], [8, 16, 24, 32, 40, 48, 56, 64, 72, 80], [9, 18, 27, 36, 45, 54, 63, 72, 81, 90], [10, 20, 30, 40, 50, 60, 70, 80, 90, 100], [11, 22, 33, 44, 55, 66, 77, 88, 99, 110], [12, 24, 36, 48, 60, 72, 84, 96, 108, 120]]
----------------------------------
--PandasDataFrameFormat-----
    row\col   1   2   3   4   5   6   7   8    9   10
1         1   1   2   3   4   5   6   7   8    9   10
2         2   2   4   6   8  10  12  14  16   18   20
3         3   3   6   9  12  15  18  21  24   27   30
4         4   4   8  12  16  20  24  28  32   36   40
5         5   5  10  15  20  25  30  35  40   45   50
6         6   6  12  18  24  30  36  42  48   54   60
7         7   7  14  21  28  35  42  49  56   63   70
8         8   8  16  24  32  40  48  56  64   72   80
9         9   9  18  27  36  45  54  63  72   81   90
10       10  10  20  30  40  50  60  70  80   90  100
11       11  11  22  33  44  55  66  77  88   99  110
12       12  12  24  36  48  60  72  84  96  108  120

In [ ]:
# @title Вызов данных из pd.dataframe с использованием ".loc"


hw1_col_loc_text= 'Введите позицию в шапке таблицы умножения (Columns) 0 < x <=  '+str(len(Cols))+'  :  '
hw1_row_loc_text= 'Введите позицию строки таблицы умножения (Rows) 0 < x <=  '+str(len(Rows))+' :  '
hw1_col_loc= int(input(hw1_col_loc_text))
hw1_row_loc= int(input(hw1_row_loc_text))

result = Tab2D_in_pandas.loc[hw1_col_loc, hw1_row_loc]
print('Данные выгружены из pd.dataframe для Column = ', hw1_col_loc, ', для Rows = ',hw1_row_loc ,',  итог из pd.dataframe: ', result)

Введите позицию в шапке таблицы умножения (Columns) 0 < x <=  10  :  7
Введите позицию строки таблицы умножения (Rows) 0 < x <=  12 :  3
Данные выгружены из pd.dataframe для Column =  7 , для Rows =  3 ,  итог из pd.dataframe:  21